---
import "./search-form.scss";
import Button from "../../../core/components/input/button/button.astro";
import TextBox from "../../../core/components/input/text/search-text.astro";
---

<form class = "search-form">
    <TextBox placeholder="Search a book...." type="search" name="search-keyword"/>
    <Button text="Search" isPrimary = {true} />
</form>
