@use "sass:map";
@use "../../../core/style/colors.scss" as *;

.search-form {
  // background-color: map.get($colors, background, darker);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}
