---
import './button.scss'

const { text, className, isPrimary = true } = Astro.props;
---

<button type="submit" class={`base-button ${className} ${isPrimary ? "base-button--primary" : "base-button--secondary"}`}
>
    <p>{ text }</p>
</button>