.input-search {
  position: relative;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3rem;
    color: grey;
    font-size: 1.5rem;
    align-content: center;
    text-align: center;
  }

  &__input {
    padding: 0.8rem;
    padding-left: 3rem;
    width: 100%;
    // max-width: 24.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: calc(0.5 * 1rem);
    outline: none;
  }
}
