---
import "./search-text.scss";
const { type, className, placeholder, name } = Astro.props;
---

<div class={`input-search ${className}`}>
    <i class="input-search__icon fa-solid fa-magnifying-glass"></i>
    <input class="input-search__input" type={type} placeholder={placeholder} name={name} />
</div>