@use "../../core/style/colors.scss" as *;
@use "../../core/style/responsive.scss" as *;
@use "sass:map";

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: map.get($colors, background, lighter);
    max-width: 100rem;
  }
}

.search-form-part {
  background-color: map.get($colors, background, darker);
}
