---
import SearchForm from "./components/search-form.astro";
import SectionContainer from "../../core/components/section/section-container.astro"
import "./search-section.scss";
---

<div class = search-section>
    <SectionContainer className = search-form-part>
        <h1 class = search-section__title>What do you want to read?</h1>
        <SearchForm />
    </SectionContainer>
    <SectionContainer>
        <ul id="results"></ul>
    </SectionContainer>
</div>