@use "../assets/styles/mixins" as mixins;

.contents-container {
  background-image: var(--bg-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.search-container {
  @include mixins.glass-background(rgba(255, 255, 255, 0.15), 16px);
  padding: 2rem;
  color: #111;

  &__input {
    display: flex;
    gap: 1rem;
  }
}

.search-result-container {
  @include mixins.glass-background(rgba(255, 255, 255, 0.15), 16px);
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 1rem;
}

.warning {
  color: #e53935;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
  .contents-container.contents-container {
    background-image: var(--bg-url);
  }
}
