$colors: (
  $caribbean-current: (
    main: #006d77ff,
  ),
  $tiffany-blue: (
    main: #83c5beff,
  ),
  $alice-blue: (
    main: #edf6f9ff,
  ),
  $pale-dogwood: (
    main: #ffddd2ff,
  ),
  $atomic-tangerine: (
    main: #e29578ff,
  ),
);
